.fontetitulo{
    font-family: 'Pacifico', cursive;
    color: darkred!important;
    
}

.fontetituloc{
    font-family: 'Pacifico', cursive;
    
}

.imagem-carrosel-1 {
    object-fit: cover;
    object-position: 0, 80%;
    height: 400px;
}


.imagem-carrosel-2 {
    object-fit: cover;
    height: 400px;
}


.h2p{font-family: 'Pacifico', cursive;
 color: darkred;
}


.botao-cor-especial {
    background-color: darkred;
    color: white;
}


.borda-cor-especial {
    border-color: darkred;
}

.imagem-card{
    object-fit: cover;
    /*object-position: 0, 80%;*/
    height: 200px;

}

.card-largura{
    max-width: 18rem;
}



